html {
    height: 100%;
}

body {
    background: url('/media/peeling_celar_potrait.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #3c3c3c;
    font-family: 'Merriweather Sans';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* --------------------------------     SEARCHBAR */

/* .searchBox {
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    top: 50%;
    left: 50%;
    transform:  translate(-20%,50%);
    background: #c9c5c2;
    height: 60px;
    border-radius: 30px;
    padding: 10px;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #c9c5c2;
    border-radius: 30px;
    padding: 10px;
    }

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
} */


.search-bar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #c9c5c2;
    border-radius: 30px;
    padding: 10px;
    }

    .search-button {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}


    .search-input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .search-bar:hover > .search-input{
    width: 225px;
    transition: width 0.4s linear;
    }

    .search-bar:hover > .search-icon{
    background: white;
    color: #521038;
    }

    .search-icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#521038;
    text-decoration:none;
    }


/* -------------------------------- BUTTONS */

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-red {
    color: #690b22 !important;
}

.text-blue {
    color: #77c2d9;
}

.text-charcoal {
    color: #3c3c3c; 
}

.text-logo {
    color: #521038; 
}


.bg-header {
    background: #f9f9f8;
}

.border-black {
    border: 1px solid #000 !important;
}

.bg-black {
    background: #000 !important;
}

/* -------------------------------- MEDIA QUERIES */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}